<%- include('../partials/header') %>

<h1>Details:</h1>

<!-- show flight details -->

  <%= flight.airline %>
  <%= flight.airport %>
  <%= flight.flightNo %>
  <%= flight.departs %>

<!-- Add Destination Form -->
<h2>Add a Destination</h2>

<form id="new-destination-form" action="/flights/<%= flight._id%>/destinations" method="POST">
  <label>Destination Airport</label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  <label>Destination Date</label>
    <input type="date" name="arrival">
  <input type="submit" value="Add Destination Details">
</form>

<br><br>
<h2>Destinations:</h2>

<!-- if destination.length is truthy show destinations -->

<% if (flight.destinations.length) { %>
  <% flight.destinations.forEach(function (destination) { %>
    <div>
      <%= destination.airport %>
      <%= destination.arrival %>
    </div>
  <% }); %>

<!-- if destination.length is falsey -->
<% } else { %>
  <h4>No Destinations Yet</h4>
<% }; %>

<br><br>
<h2>Tickets:</h2>
<a href='/flights/<%= flight._id %>/tickets/new'>New Ticket</a>

  <% if (tickets.length) { %>
    <% tickets.forEach(function (ticket) { %>
      <div>
        <%= ticket.seat %>
        <%= ticket.price %>
      </div>
    <% }); %>
  <% } %>

<%- include('../partials/footer') %>